section.HowToCertifyESDFAQWrap {
  padding: 60px 0;
  background: var(--SectionBcolorSecond);
}
section.HowToCertifyESDFAQWrap p {
  margin-top: 5px;
  color: var(--ParagraphColor);
  font-weight: 500;
  text-align: justify;
}
section.HowToCertifyESDFAQWrap li {
  margin-top: 5px;
  color: var(--ParagraphColor);
  font-weight: 500;
  text-align: justify;
}
section.HowToCertifyESDFAQWrap .h2 {
  font-weight: 600;
  font-size: var(--FontSizeHeading);
  color: var(--HeadingColor);
  position: relative;
}
section.HowToCertifyESDFAQWrap .h2:after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 4px;
  background-color: var(--TealColorLight);
}
section.HowToCertifyESDFAQWrap p:last-child {
  margin-bottom: 0px;
}
section.HowToCertifyESDFAQWrap img {
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  section.HowToCertifyESDFAQWrap .imgbx {
    width: 300px;
    height: 300px;
    border: 4px solid var(--WhiteColor);
    overflow: hidden;
    background: #beffef;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 15px auto;
    -webkit-box-shadow: 0 0 6px #00000040;
    box-shadow: 0 0 6px #00000040;
  }
  section.HowToCertifyESDFAQWrap .imgbx img {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: -61px;
    margin: auto;
    width: 154%;
    max-width: unset !important;
  }
}

@media screen and (max-width: 600px) {
  section.HowToCertifyESDFAQWrap {
    padding: 40px 0;
  }
  section.HowToCertifyESDFAQWrap p {
    margin-top: 0;
    font-size: 15px;
  }
  section.HowToCertifyESDFAQWrap li {
    font-size: 15px;
  }
  section.HowToCertifyESDFAQWrap .h2 {
    margin: 12px 0 0 0;
    font-size: calc(var(--FontSizeHeading) - 2px);
  }
  section.HowToCertifyESDFAQWrap .imgbx {
    width: 246px;
    height: 246px;
    border: 4px solid var(--WhiteColor);
    overflow: hidden;
    background: #beffef;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 15px auto;
    -webkit-box-shadow: 0 0 6px #00000040;
    box-shadow: 0 0 6px #00000040;
  }
  section.HowToCertifyESDFAQWrap .imgbx img {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: -61px;
    margin: auto;
    width: 159%;
    max-width: unset !important;
  }
}

@media screen and (max-width: 280px) {
  .accordion {
    position: relative;
    margin-left: 5px;
    border: none;
  }
  .accordion:before {
    left: -12px;
  }
  .accordion__heading:before {
    left: -19px;
    position: absolute;
    top: 37px;
  }
}
@media (min-width: 1200px) {
}
@media only screen and (min-device-width: 1400px) {
  section.HowToCertifyESDFAQWrap {
    padding: 60px 200px;
    background-color: var(--WhiteColor);
  }
  section.HowToCertifyESDFAQWrap .imgbx {
    overflow: hidden;
    height: 506px;
    position: relative;
  }

  section.HowToCertifyESDFAQWrap .imgbx img {
    position: absolute;
    right: 0;
    bottom: -32px;
    left: 0px;
    top: 0;
    margin: auto;
  }
}
