.main-sidebar .h3 {
  color: #111;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-size: var(--FontSize);
  font-weight: 600;
}
.main-sidebar .h3:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 1000px;
  height: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e8e8e8;
  right: 100%;
  margin-right: 15px;
}
.main-sidebar .title {
  position: relative;
  z-index: 0;
  text-transform: uppercase;
  font-size: var(--FontSize);
  line-height: 29px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
  color: #111;
}
.main-sidebar .h3:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1000px;
  height: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e8e8e8;
  left: 100%;
  margin-left: 15px;
}
.main-sidebar ul {
  list-style: none;
  padding: 0;
}
.main-sidebar li {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  line-height: 21px;
  color: #aaa;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: capitalize;
}
.main-sidebar ul li a {
  font-weight: 500;
  color: var(--HeadingColor) !important;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.main-sidebar ul li a:hover {
  color: #1ba77a !important;
}

.main-sidebar .search {
  position: relative;
}
.main-sidebar .search #s {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  background-color: #f9f9f9;
  border-color: #e8e8e8;
  color: #000;
  outline: 0;
  transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -webkit-transition: all 250ms ease-in-out 0s;
}
.main-sidebar .search .submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  font-size: var(--FontSize);
  border: none;
  cursor: pointer;
  background-color: #333;
  color: var(--WhiteColor);
  -webkit-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}
#search2,
#categorybx,
#bannerad,
#tagbx {
  margin-bottom: 45px;
}
.main-sidebar #search2 {
  visibility: hidden;
}
.main-sidebar #tagbx a {
  background-color: #333;
  color: var(--WhiteColor);
  display: inline-block;
  margin: 1px 1px 1px 1px;
  padding: 10px 6px;
  font-size: 11px !important;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  line-height: 13px;
}
.main-sidebar #tagbx a:hover {
  background-color: #22b59c;
  color: var(--WhiteColor);
}
.main-sidebar #bannerad img {
  width: 100%;
}
@media screen and (max-width: 600px) {
}

@media only screen and (min-device-width: 1400px) {
}
