section.SecureLogosWrap {
  text-align: center;
  padding: 25px 0;
  background: #f9fdff;
}
.SecureLogoImgWrap div {
  width: 12.5%;
}
@media screen and (max-width: 912px) {
  .SecureLogoImgWrap div {
    width: 24.5%;
  }
}
@media screen and (max-width: 600px) {
  .SecureLogoImgWrap div {
    width: 24.5%;
  }
}
@media screen and (max-width: 414px) {
.SecureLogoImgWrap div {
  width: 32.5%;
}
}
@media screen and (max-width: 280px) {
  .SecureLogoImgWrap div {
    width: 49.5%;
  }
}
@media only screen and (min-device-width: 1400px) {
}
