section.HappyPetOwnersWrap {
  text-align: center;
  padding: 60px 0 20px 0;
  background: #f9fdff;
}
section.HappyPetOwnersWrap p {
  margin-bottom: 45px;
  color: var(--ParagraphColor);
  font-weight: 500;
}
section.HappyPetOwnersWrap .h2 {
  font-weight: 600;
  font-size: var(--FontSizeHeading);
  color: var(--HeadingColor);
}
section.HappyPetOwnersWrap .h2:after {
  content: "";
  display: block;
  margin: 10px auto 10px auto;
  width: 100px;
  height: 4px;
  background-color: var(--TealColorLight);
}
section.HappyPetOwnersWrap .map_users {
  position: relative;
}
@media screen and (max-width:1180px) {
  section.HappyPetOwnersWrap{
    padding: 40px 0 20px 0;
  }
}
@media screen and (max-width:820px) {
  section.OurHappyClients {
    padding: 40px 0;
  }

  section.OurHappyClients .OHCwrap {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  section.HappyPetOwnersWrap {
    padding: 40px 0;
  }
  section.HappyPetOwnersWrap .h2 {
    font-size: calc(var(--FontSizeHeading) - 2px);
    margin: 0;
  }
  section.HappyPetOwnersWrap p {
    font-size: 15px;
  }
}
@media screen and (max-width: 540px) {
section.HappyPetOwnersWrap .h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 414px) {
  section.HappyPetOwnersWrap {
    padding: 40px 0 0;
  }
  section.HappyPetOwnersWrap .h2{
    font-size: 20px;
  }
  section.HappyPetOwnersWrap p {
    margin-bottom: 18px;
  }

}
@media screen and (max-width: 280px) {
  section.HappyPetOwnersWrap {
    padding: 40px 0 0;
  }

  section.HappyPetOwnersWrap .h2 {
    font-size: 20px;
  }

  section.HappyPetOwnersWrap p {
    margin-bottom: 18px;
  }

}
@media only screen and (min-device-width: 1400px) {
}
