section.HowToCertifyESDWrap {
  padding: 60px 0;
  background-color: var(--WhiteColor);
}
section.HowToCertifyESDWrap p {
  margin-top: 5px;
  color: var(--ParagraphColor);
  font-weight: 500;
  text-align: justify;
}
section.HowToCertifyESDWrap .h2 {
  font-weight: 600;
  font-size: var(--FontSizeHeading);
  color: var(--HeadingColor);
  position: relative;
}
section.HowToCertifyESDWrap .h2:after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 4px;
  background-color: var(--TealColorLight);
}
section.HowToCertifyESDWrap p:last-child {
  margin-bottom: 0px;
}
section.HowToCertifyESDWrap img {
  max-width: 100%;
}

section.btmtxtdiv {
  padding: 60px 0;
  background-color: #f0f9fd;
}
section.btmtxtdiv p {
  margin-top: 5px;
  color: var(--ParagraphColor);
  font-weight: 500;
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  section.HowToCertifyESDWrap .imgbx {
    width: 361px;
    height: 361px;
    border: 4px solid var(--WhiteColor);
    overflow: hidden;
    background: #beffef;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 15px auto;
    -webkit-box-shadow: 0 0 6px #00000040;
    box-shadow: 0 0 6px #00000040;
  }
  section.HowToCertifyESDWrap .imgbx img {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: -61px;
    margin: auto;
    width: 154%;
    max-width: unset !important;
  }
}

@media screen and (max-width: 600px) {
  section.HowToCertifyESDWrap p {
    margin-top: 0;
    font-size: 15px;
  }

  section.HowToCertifyESDWrap .h2 {
    margin: 12px 0 0 0;
    font-size: calc(var(--FontSizeHeading) - 2px);
  }
  section.HowToCertifyESDWrap .imgbx {
    width: 246px;
    height: 246px;
    border: 4px solid var(--WhiteColor);
    overflow: hidden;
    background: #beffef;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 15px auto;
    -webkit-box-shadow: 0 0 6px #00000040;
    box-shadow: 0 0 6px #00000040;
  }
  section.HowToCertifyESDWrap .imgbx img {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: -61px;
    margin: auto;
    width: 159%;
    max-width: unset !important;
  }
}
@media (min-width: 1200px) {
}
@media only screen and (min-device-width: 1400px) {
  section.HowToCertifyESDWrap .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
  section.HowToCertifyESDWrap .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }
  section.HowToCertifyESDWrap {
    padding: 60px 100px;
    background-color: var(--WhiteColor);
  }
}
